/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 90%; /* 横幅90% */
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

header .heading { /* headerタグ内のheadingクラスにのみ反映される */
  font-size: 32px;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-top: 1px solid #848282;
  border-bottom: 1px solid #848282;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main {
  width: 800px; /* 横幅800px */
  /* background-color, heightの指定を解除 */
  display: flex; /* Flexboxの利用 */
  justify-content: center; /* 子要素の横並び・中央寄せ */
  padding: 50px 0;
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
  flex-wrap: wrap;
}

.section1 {
  width:200px;
  height: 200px;
  background-color: #e6ffe9;
}

.section2 {
  width:200px;
  height: 200px;
  background-color: #cbffd3;
}

.section3 {
  width:200px;
  height: 200px;
  background-color: #aeffbd;
}

.section4 {
  width:200px;
  height: 200px;
  background-color: #93ffab;
}

.section5 {
  width:200px;
  height: 200px;
  background-color: #f3ffd8;
}

.section6 {
  width:200px;
  height: 200px;
  background-color: #edffbe;
}

.section7 {
  width:200px;
  height: 200px;
  background-color: #e9ffa5;
}

.section8 {
  width:200px;
  height: 200px;
  background-color: #e4ff8d;
}

.section9 {
  width:200px;
  height: 200px;
  background-color: #d9e5ff;
}

.section10 {
  width:200px;
  height: 200px;
  background-color: #bad3ff;
}

.section11 {
  width:200px;
  height: 200px;
  background-color: #a4c6ff;
}

.section12 {
  width:200px;
  height: 200px;
  background-color: #8eb8ff;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text {
  color: #fff;
}